@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --azul: #011526;
  --cinza: #625a5a;
  --fundo: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

main {
  background-color: var(--fundo);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.container {
  width: 90%;
}

/* Conteúdo da Dashbord */

.global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  background-color: var(--fundo);
}

/* Post - Geral */

.anot {
  width: calc(100% - 4.4%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
  height: 75%;
}

.anot_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem 0 0 0;
}

/* User */

.postit {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
}

/* Empresa */

.postit_empresa {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}

/* Post */

.post {
  width: 100px; /* Define uma largura visível */
  height: 100px; /* Define uma altura visível */
  border-radius: 2px;
  background-color: #529fe3;
  display: flex; /* Para garantir que o conteúdo interno seja exibido */
  align-items: center;
  justify-content: center;
  color: #fff; /* Para contraste */
  font-size: 14px;
  text-align: center;
}

/* Send */

.send {
  width: calc(100% - 4.4%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.send_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1rem;

  & textarea {
    color: dimgrey;
    width: 30%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    padding: 1rem;
    resize: none;

    &:focus {
      outline: 1px solid #529fe3e5;
    }
  }

  & button {
    width: 30%;
    height: 100%;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: #529fe3;
  }
}
