:root {
  --azulEscuro: #011526;
  --amareloPrincipal: #f2c029;
  --azulEscuroTexto: #011526;
  --amareloDischarge: #f2ae2e;
  --brancoBackground: #f2f2f2;
  --branco: #ffffff;
  --azulBackground: #011526;
  --cinza: #d9d9d9;
  --transparte: #ffffff00;
}

/* Configurações globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  width: 100%;
}

.container {
  width: 80%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--azulEscuro);
  justify-content: space-between;
  position: absolute;
  z-index: 2;

  a {
    text-decoration: none;
  }
}

.menu {
  display: none;
  height: 100%;
  position: relative;
}

.menu_img {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
  & img {
    color: var(--amareloDischarge);
    padding: 0.5rem;
    width: 72px;
    height: 72px;
  }
}

.menu-toggle {
  display: none;
}

.menu-toggle:checked ~ .nav__mobile {
  display: flex;
}

.logo__mobile {
  display: none;
}

.nav__mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  white-space: nowrap;
  background-color: var(--azulBackground);
  list-style-type: none;
}

.nav__links .nav__mobile li {
  padding: 1rem;
  transition: all 0.3s;
}

.nav__links .nav__mobile li a {
  color: var(--amareloPrincipal);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__links .nav__mobile li:hover {
  color: var(--amareloDischarge);
  transform: scale(1.03);
}

.icon__raio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: all 0.2s ease-in;
  & img {
    width: 72px;
    height: 72px;
  }
}

.icon__raio:hover,
.menu_img:hover {
  transform: scale(1.05);
}

.nav__links,
.nav__links__span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav__links .nav__desktop {
  list-style-type: none;
  display: flex;
  gap: 8rem;
  padding: 1.5rem;
  cursor: pointer;
}

.nav__links .nav__desktop li a {
  color: var(--amareloPrincipal);
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__links .nav__desktop li {
  transition: all 0.3s;
}

.nav__links .nav__desktop li:hover {
  color: var(--amareloDischarge);
  transform: scale(1.03);
}

.background-btn-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amareloPrincipal);
  height: 100%;
  padding: 0.5rem;
  transition: all 0.2s;
}

.background-btn-cadastro:hover {
  background-color: var(--amareloDischarge);
  transform: scale(1.02);
}

.background-btn-cadastro:hover .btn-cadastro {
  color: var(--branco);
}

.btn-cadastro {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: var(--azulEscuroTexto);
  transition: all 0.5s;
}

/* Banner */

.banner {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(240, 0, 0, 0) 0%,
      rgba(63, 57, 5, 0.267) 100%
    ),
    url(../assets/imgs/solda.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .banner__itens {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & h1 {
      font-size: 36px;
      font-weight: 700;
      color: var(--branco);
    }
  }
}

.botao_saibamais {
  /* width: 10%; */
  text-align: center;
  background-color: var(--amareloPrincipal);
  padding: 0.6rem;
  font-size: 16px;
  color: var(--branco);
  font-weight: 300;
  border-radius: 10px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.botao_saibamais:hover {
  background-color: var(--amareloDischarge);
}

/* Blogs */

.blogs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 2rem;
  background-color: var(--brancoBackground);
}

.blogs__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  width: 100%;
}

.box_link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
}

.box_link:hover {
  transform: scale(1.05);
}

.box {
  width: 100%;
  height: 90%;
  font-size: 14px;
  background-color: var(--transparte);
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  z-index: 1;
}

.box h2 {
  position: absolute;
  background: rgb(1, 21, 38);
  background: linear-gradient(
    180deg,
    rgba(1, 21, 38, 0.6685049019607843) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  color: var(--branco);
  width: 100%;
  padding: 1.5rem;
}

.box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Footer */

.footer {
  height: 40vh;
  background-color: var(--azulBackground);
  display: flex;
  justify-content: space-between;
  padding: 5%;

  & .discharge {
    color: var(--amareloDischarge);
    font-size: 32px;
  }

  & ul {
    text-decoration: none;
    list-style: none;
    color: var(--branco);
  }

  & h2 {
    display: flex;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 1.2rem;
  }

  & li {
    font-size: 16px;
    color: #ffffff;
  }

  & .topicos {
    display: flex;
    flex-direction: column;
  }
}

.separacao-footer {
  width: 100%;
  height: 0.5vh;
  background-color: #ffffff;
}

.copyright {
  padding: 1rem;
  background-color: var(--azulBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1860px) {
  /* Header */

  .icon__raio,
  .menu {
    & img {
      width: 56px;
      height: 56px;
    }
  }

  .nav__links .nav__desktop {
    gap: 6rem;
    padding: 1rem;
  }

  .nav__links .nav__desktop li a {
    font-size: 20px;
  }

  .background-btn-cadastro {
    padding: 1rem;
  }

  .btn-cadastro {
    font-size: 24px;
  }

  /* Banner */

  .banner__content {
    align-items: flex-start;
    padding: 1rem;

    .banner__itens {
      gap: 1rem;
    }

    & h1 {
      font-size: 24px;
    }

    & a {
      padding: 0.4rem;
      font-size: 12px;
    }
  }

  /* Blogs */

  .blogs {
    padding: 2rem;
  }

  .blogs__box {
    gap: 1rem;
  }

  .box {
    width: 90%;
    font-size: 10px;
  }

  .box h2 {
    padding: 1.2rem;
  }

  /* Footer */

  .footer {
    gap: 1rem;

    & .discharge {
      font-size: 24px;
    }

    & h2 {
      font-size: 22px;
    }

    & li {
      font-size: 12px;
    }
  }

  .copyright {
    & h2 {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 1248px) {
  /* Footer */

  .footer {
    height: 20%;
  }
}

@media screen and (max-width: 920px) {
  .container {
    width: 90%;
  }

  nav {
    flex-direction: row-reverse;
  }

  .nav__mobile {
    right: 0;
    align-items: center;
  }

  .nav__mobile .entrar_destaque {
    width: 100%;
    text-align: center;
    background-color: var(--amareloPrincipal);
  }

  .nav__links .nav__mobile .entrar_destaque a {
    color: var(--azulBackground);
  }

  .logo__mobile {
    display: flex;
  }

  .menu {
    display: flex;
  }

  .nav__links__span {
    display: none;
  }

  .background-btn-cadastro {
    display: none;
  }

  .nav__links .nav__mobile li:hover {
    transform: scale(1.02);
  }

  /* Banner */

  .banner__content {
    & .banner__itens {
      & h1 {
        font-size: 20px;
      }
    }
  }

  .blogs__box {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 680px) {
  /* Header */

  .btn-cadastro {
    font-size: 16px;
  }

  .footer {
    flex-wrap: wrap;
  }
}
