:root {
  --azulEscuro: #011526;
  --amareloPrincipal: #f2c029;
  --azulEscuroTexto: #011526;
  --amareloDischarge: #f2ae2e;
  --brancoBackground: #f2f2f2;
  --branco: #ffffff;
  --azulBackground: #011526;
  --cinza: #d9d9d9;
}

/* Configurações globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-content {
  width: 100%;
}

.container {
  width: 90%;
}

/* Fundo */

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: var(--azulEscuro);
  position: relative;
}

.formulario::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background-image: url("../assets/imgs/fundo_login.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%);
  z-index: 1;
}

/* Área que divide a Mensagem do Formulário */

.box_area {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

/* Mensagem */

.cad_texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42%;
  z-index: 2;
  position: relative;

  & h2 {
    color: var(--amareloPrincipal);
    font-weight: 600;
    font-size: 36px;
  }

  & p {
    text-align: justify;
    color: var(--branco);
  }

  & .containerTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  & .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    gap: 2rem;
  }
}

.botaoContato {
  padding: 1rem;
  color: var(--amareloPrincipal);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: large;
  background-color: transparent;
  border-radius: 100px;
  border: solid 2px;
  cursor: pointer;
  transition: all 0.2s;
}

.botaoContato:hover {
  color: var(--branco);
}

/* Formulário */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  z-index: 2;
  position: relative;
  gap: 1rem;

  & h1 {
    color: var(--amareloPrincipal);
    font-weight: 600;
    font-size: 42px;
  }

  & a {
    color: var(--amareloPrincipal);
    text-decoration: none;
    transition: all 0.2s;
  }

  & a:hover {
    color: var(--amareloDischarge);
  }
}

.nomeInput {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: var(--branco);
  font-size: 20px;
  font-weight: 400;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;

  & input {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 20px;
    background-color: var(--cinza);
    border: none;
    outline: none;
    transition: all 0.2s;
  }

  & input:hover {
    outline: solid 1px var(--amareloDischarge);
  }

  & .icone {
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: 32px;
    height: 32px;

    img {
      width: 100%;
    }

    & .imagem_senha {
      cursor: pointer;
    }
  }
}

.botaoEntrar {
  padding: 1rem;
  color: var(--amareloPrincipal);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: large;
  background-color: #f2c02979;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.botaoEntrar:hover {
  color: var(--branco);
  background-color: #f2c029a9;
}

@media screen and (max-width: 1860px) {
  /* Mensagem */

  .cad_texto {
    & h2 {
      font-size: 28px;
    }

    & .texto {
      font-size: 18px;
      gap: 1rem;
    }
  }

  .botaoContato {
    font-size: medium;
  }

  /* Formulário */

  .form {
    gap: 1rem;

    & h1 {
      font-size: 32px;
    }
  }

  .nomeInput {
    font-size: 18px;
  }

  label {
    & input {
      font-size: 16px;
    }

    & .icone {
      width: 28px;
      height: 28px;
    }
  }

  .botaoEntrar {
    font-size: medium;
  }
}

@media screen and (max-width: 1024px) {

  .formulario {
    text-align: center;
    padding: 1rem;
  }

  .formulario::before {
    display: none;
  }

  .box_area {
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }

  .cad_texto,
  .form {
    width: 80%;
    padding: 1rem;
  }

  .form {
    & h1 {
      font-size: 24px;
    }
  }

  .cad_texto {
    padding: 1rem;
    position: relative;
    background-image: url(../assets/imgs/fundo_login.png);
    border-radius: 10px;

    & h2 {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 680px) {


  .cad_texto,
  .form {
    width: 100%;
  }

  .form {
    & h1 {
      font-size: 20px;
    }
  }

  .cad_texto,
  .botaoContato {
    & p {
      font-size: 12px;
    }
  }

  label {
    & .icone {
      left: 85%;
    }
  }
}

@media screen and (max-width: 1024px) and (max-height: 732px) {
  .formulario {
    overflow-y: scroll;
    overflow: hidden;
    height: 100%;
    padding: 3rem;
  }
}