:root {
  --azulEscuro: #011526;
  --amareloPrincipal: #f2c029;
  --azulEscuroTexto: #011526;
  --amareloDischarge: #f2ae2e;
  --brancoBackground: #f2f2f2;
  --branco: #ffffff;
  --azulBackground: #011526;
  --cinza: #d9d9d9;
}

/* Configurações globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-content {
  width: 100%;
}

.container {
  width: 80%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */

nav {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--azulEscuro);
  justify-content: space-between;

  & a {
    text-decoration: none;
  }
}

.menu {
  display: none;
  height: 100%;
  position: relative;
}

.menu_img {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  cursor: pointer;
  & img {
    color: var(--amareloDischarge);
    padding: 0.5rem;
    width: 72px;
    height: 72px;
  }
}

.menu-toggle {
  display: none;
}

.menu-toggle:checked ~ .nav__mobile {
  display: flex;
}

.logo__mobile {
  display: none;
}

.nav__mobile {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 95%;
  white-space: nowrap;
  background-color: var(--azulBackground);
  list-style-type: none;
}

.nav__links .nav__mobile li {
  padding: 1rem;
  transition: all 0.3s;
}

.nav__links .nav__mobile li a {
  color: var(--amareloPrincipal);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__links .nav__mobile li:hover {
  color: var(--amareloDischarge);
  transform: scale(1.03);
}

.icon__raio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  transition: all 0.2s ease-in;
  & img {
    width: 72px;
    height: 72px;
  }
}

.icon__raio:hover,
.menu_img:hover {
  transform: scale(1.05);
}

.nav__links,
.nav__links__span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav__links .nav__desktop {
  list-style-type: none;
  display: flex;
  gap: 8rem;
  padding: 1.5rem;
  cursor: pointer;
}

.nav__links .nav__desktop li a {
  color: var(--amareloPrincipal);
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav__links .nav__desktop li {
  transition: all 0.3s;
}

.nav__links .nav__desktop li:hover {
  color: var(--amareloDischarge);
  transform: scale(1.03);
}

.background-btn-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amareloPrincipal);
  height: 100%;
  padding: 0.5rem;
  transition: all 0.2s;
}

.background-btn-cadastro:hover {
  background-color: var(--amareloDischarge);
  transform: scale(1.02);
}

.background-btn-cadastro:hover .btn-cadastro {
  color: var(--branco);
}

.btn-cadastro {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: var(--azulEscuroTexto);
  transition: all 0.5s;
}

/* Banner */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("../assets/imgs/banner-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--azulEscuroTexto);
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(1, 30, 56, 0.404) 68%);
  z-index: 0;
}

.banner-itens {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: white;

  & h1 {
    font-size: 72px;
    text-shadow: 4px 4px 0px #00000059;
  }

  & h2 {
    font-size: 32px;
    text-shadow: 4px 4px 0px #00000059;
  }
}

/* Sobre Nós */

.nosso-negocio {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--brancoBackground);
}

.box-negocio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.negocio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-negocio {
  display: flex;
  width: 50%;
  object-fit: contain;
}

.texto-negocio {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 1rem;
  text-align: center;
}

& .texto-negocio h2 {
  color: var(--azulEscuroTexto);
  font-size: 55px;
}

& .texto-negocio p {
  font-size: 20px;
  text-align: justify;

  & .discharge {
    color: var(--amareloDischarge);
    font-weight: bold;
  }
}

.cards-negocio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.cards-negocio .card {
  display: flex;
  background-color: #ffffff;
  width: 40%;
  text-align: justify;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5%;
  padding: 1rem;

  & p {
    font-size: 20px;
  }

  & h2 {
    color: var(--azulEscuroTexto);
    font-size: 32px;
  }

  & a {
    text-decoration: none;
  }

  & h3 {
    color: var(--amareloDischarge);
    transition: all 0.2s;
  }

  & h3:hover {
    color: var(--amareloPrincipal);
  }
}

/* Beneficios */

.beneficios {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--azulEscuro);
  position: relative;
}

.box-beneficios {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.beneficios__imagem {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.beneficios__imagem__card {
  display: none;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-image: url("../assets/imgs/metalurgica.png");
  background-size: cover;
  background-position: center;
}

.ben_imagem_desktop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-image: url("../assets/imgs/metalurgica.png");
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 30% 100%, 0 50%, 30% 0);
}

.beneficios-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;

  .texto-beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #ffffff;
    text-align: flex-start;

    & h2 {
      font-size: 64px;
      width: 100%;
    }

    & h3 {
      font-size: 32px;
      width: 100%;
    }

    & p {
      width: 100%;
      font-size: 24px;
      color: #ffffff;
    }
  }
}

/* Contate-nos */

.contato {
  height: 100vh;
  background-color: var(--brancoBackground);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-contato {
  display: flex;
  height: 80vh;
  width: 100%;
  background-color: var(--branco);
  padding: 2rem;
  border-radius: 10px;
  gap: 2rem;
}

.image-form {
  width: 50%;
  background-image: url(../assets/imgs/contato.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  width: 50%;

  & h2 {
    color: var(--azulEscuroTexto);
    font-size: 48px;
    font-weight: 800;
  }

  & label {
    width: 100%;
  }

  & .div__input__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }
}

.formulario__input {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cinza);
  border-radius: 10px;
  padding: 1.2rem;
  border: none;
  outline: none;
  transition: all 0.5s;
}

.formulario__input:hover {
  outline: 1px solid var(--azulEscuroTexto);
}

.formulario__input::placeholder {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.formulario__button {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--amareloDischarge);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--branco);
  transition: all 0.5s;
  cursor: pointer;
}

.formulario__button:hover {
  background-color: var(--amareloPrincipal);
}


 .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s 1s;
}

.modal-content {
  background-color: #ff6961;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal.show{
display: block;
visibility: visible;
opacity: 1;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px; /* Distância do topo */
  right: 10px; /* Distância da direita */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

#modalMessage {
  font-size: 18px;
  border-radius: 5px;
  color: white;
}

/* Footer */

.footer {
  height: 40vh;
  background-color: var(--azulBackground);
  display: flex;
  justify-content: space-between;
  padding: 5%;

  & .discharge {
    color: var(--amareloDischarge);
    font-size: 32px;
  }

  & ul {
    text-decoration: none;
    list-style: none;
    color: var(--branco);
  }

  & h2 {
    display: flex;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 1.2rem;
  }

  & li {
    font-size: 16px;
    color: #ffffff;
  }

  & .topicos {
    display: flex;
    flex-direction: column;
  }
}

.separacao-footer {
  width: 100%;
  height: 0.5vh;
  background-color: #ffffff;
}

.copyright {
  padding: 1rem;
  background-color: var(--azulBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  & h2 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1860px) {
  
  /* Header */

  .icon__raio,
  .menu {
    & img {
      width: 42px;
      height: 42px;
    }
  }

  .nav__links .nav__desktop {
    gap: 6rem;
    padding: 1rem;
  }

  .nav__links .nav__desktop li a {
    font-size: 20px;
  }

  .background-btn-cadastro {
    padding: 1rem;
  }

  .btn-cadastro {
    font-size: 24px;
  }

  /* Banner */

  .banner {
    & .banner-itens {
      gap: 0.4rem;
    }

    & h1 {
      font-size: 32px;
      text-shadow: 2px 2px 0px #00000059;
    }

    & h2 {
      font-size: 16px;
      text-shadow: 2px 2px 0px #00000059;
    }

    & img {
      width: 64px;
      height: 64px;
    }
  }

  /* Sobre nós */

  .img-negocio {
    width: 40%;
  }

  .img-negocio img {
    width: 90%;
  }

  .texto-negocio {
    gap: 0.5rem;
    width: 60%;
  }

  .texto-negocio h2 {
    font-size: 32px;
  }

  .texto-negocio p {
    font-size: 16px;
  }

  .cards-negocio {
    gap: 1rem;
  }

  .cards-negocio .card {
    gap: 0.5rem;
    padding: 1rem;

    & h2,
    h3 {
      font-size: 24px;
    }

    & p {
      font-size: 16px;
    }
  }

  /* Beneficios */

  .beneficios-text {
    & .texto-beneficios {
      gap: 1rem;

      & h2 {
        font-size: 32px;
      }

      & h3 {
        font-size: 24px;
        font-weight: 500;
      }

      & p {
        font-size: 16px;
      }
    }
  }

  /* Contate-nos */

  .contato {
    & .box-contato {
      height: 100%;
      gap: 2rem;
    }

    & .formulario {
      gap: 3rem;
      width: 50%;

      & h2 {
        font-size: 32px;
        font-weight: 700;
      }
    }
  }

  .formulario__input {
    font-size: 14px;
    width: 100%;
    padding: 1rem;
  }

  .formulario__input::placeholder {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }

  .formulario__button {
    font-size: 24px;
    font-weight: 700;
  }

  /* Footer */

  .footer {
    gap: 1rem;

    & .discharge {
      font-size: 24px;
    }

    & h2 {
      font-size: 22px;
    }

    & li {
      font-size: 12px;
    }
  }

  .copyright {
    & h2 {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 1248px) {
  /* Sobre nós */

  .nosso-negocio {
    height: 100%;
    padding: 1rem;
  }

  .negocio {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .img-negocio {
    justify-content: center;
    width: 100%;
  }

  .img-negocio img {
    width: 100%;
  }

  .texto-negocio {
    width: 100%;
  }

  .texto-negocio h2 {
    font-size: 24px;
  }

  .cards-negocio {
    flex-direction: column;
  }

  .cards-negocio .card {
    width: 100%;
  }

  /* Beneficios */

  .beneficios {
    height: 100%;
    gap: 1rem;
    padding: 2rem;
  }

  .ben_imagem_desktop {
    display: none;
  }

  .beneficios__imagem__card,
  .beneficios__imagem {
    display: flex;
  }

  .box-beneficios {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .beneficios-text {
    height: 100%;
    width: 100%;

    & .texto-beneficios {
      height: 50%;
      gap: 2rem;
      text-align: justify;

      & h2 {
        font-size: 42px;
      }

      & h3 {
        font-size: 32px;
      }

      & p {
        font-size: 32px;
      }
    }
  }

  /* Contate-nos */

  .contato {
    height: 100%;
    padding: 1rem;

    & .box-contato {
      align-items: center;
      flex-direction: column;
    }

    & .image-form {
      width: 100%;
      height: 400px;
    }

    & .formulario {
      width: 100%;

      & h2 {
        font-size: 48px;
      }
    }
  }

  .formulario__input,
  .formulario__button {
    font-size: 24px;
    padding: 1.5rem;
  }

  .formulario__input::placeholder {
    font-size: 24px;
  }

  /* Footer */

  .footer {
    height: 20%;
  }
}

@media screen and (max-width: 920px) {
  .container {
    width: 90%;
  }

  nav {
    flex-direction: row-reverse;
  }

  .nav__mobile {
    right: 0;
    align-items: center;
  }

  .nav__mobile .entrar_destaque {
    width: 100%;
    text-align: center;
    background-color: var(--amareloPrincipal);
  }

  .nav__links .nav__mobile .entrar_destaque a {
    color: var(--azulBackground);
  }

  .logo__mobile {
    display: flex;
  }

  .menu {
    display: flex;
  }

  .nav__links__span {
    display: none;
  }

  .background-btn-cadastro {
    display: none;
  }

  .nav__links .nav__mobile li:hover {
    transform: scale(1.02);
  }

  .contato {
    & .formulario {
      gap: 1.5rem;
    }

    & .image-form {
      height: 300px;
    }
  }

  .formulario__input,
  .formulario__button {
    font-size: 16px;
    padding: 1rem;
  }

  .formulario__input::placeholder {
    font-size: 16px;
  }
}

@media screen and (max-width: 680px) {
  /* Header */

  .btn-cadastro {
    font-size: 16px;
  }

  /* Nosso negócio */

  .texto-negocio p {
    font-size: 12px;
  }

  .cards-negocio .card {
    & h2,
    h3 {
      font-size: 16px;
    }
  }

  .cards-negocio .card {
    & p {
      font-size: 12px;
    }
  }

  /* Benefícios */

  .beneficios-text {
    & .texto-beneficios {
      & h2 {
        font-size: 24px;
      }
      & h3 {
        font-size: 20px;
      }
      & p {
        font-size: 12px;
      }
    }
  }

  /* Contato */

  .contato {
    & .box-contato {
      gap: 0.8rem;
    }

    & .formulario {
      gap: 0.8rem;
      & h2 {
        font-size: 24px;
      }
    }
  }

  .formulario__input,
  .formulario__button {
    font-size: 12px;
    padding: 0.8rem;
  }

  .formulario__input::placeholder {
    font-size: 12px;
  }

  /* Footer */

  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 400px) {
  /* Ajustando tamanho da imagem para telas pequenas */

  & .image-form {
    width: auto;
    height: 250px;
  }

  .beneficios__imagem__card {
    width: 250px;
    height: 250px;
  }
}
