:root {
  --azulEscuro: #011526;
  --amareloPrincipal: #f2c029;
  --azulEscuroTexto: #011526;
  --amareloDischarge: #F2AE2E;
  --brancoBackground: #F2F2F2;
  --azulBackground: #011526;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "poppins", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: var(--azulEscuro);
  justify-content: space-between;

  a {
    text-decoration: none;
  }
}

.atom {
  height: auto;
  padding: 2rem;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav__links ul {
  list-style-type: none;
  display: flex;
  gap: 8rem;
  padding: 1.5rem;
  cursor: pointer;
}

.nav__links ul li {
  color: var(--amareloPrincipal);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: none;
  text-shadow:red;
}

.btn-cadastro {
  background-color: var(--amareloPrincipal);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: var(--azulEscuroTexto);
  padding: 1rem;
}

.container {
  height: auto;
  width: auto;
}

.banner{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container .banner {
  height: 90vh;
  background-image: url("/application/assets/banner-background.jpg");
  background-size: cover;
}

.container-banner{
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  color: var(--azulEscuroTexto);
}

.container-banner h1{
  font-size: 72px;
} 

.container-banner h2{
  font-size: 32px;
}

.nosso-negocio{
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--brancoBackground);
  height: auto;
}

.nosso-negocio .container{
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.negocio{
  display: flex;
  gap: 8rem;
}

.texto-negocio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  gap: 1rem;
  text-align: center;
}

.texto-negocio h1{
  color: var(--azulEscuroTexto);
  font-size: 55px;
}

.texto-negocio p{
  font-size: 20px;
  text-align: justify;

  .discharge{
    color: var(--amareloDischarge);
    font-weight: bold;
  }
}

.img-negocio{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cards-negocio{
  display: flex;
  width: 80vw;
  justify-content: center;
  gap: 2rem;
  height: 60vh;
  
}

.cards-negocio .card{
  display: flex;
  background-color: #ffffff;
  width: 40%;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  padding: 1rem;
  
  p{
    font-size: 20px;
  }

  h1{
    color: var(--azulEscuroTexto);
    font-size: 30px;
  }

  h2{
    color: var(--azulEscuroTexto);
    
  }

}

.beneficios{
  height: 100vh;
  background-color: var(--azulEscuro);
  display: flex;
  overflow: hidden;
}

.beneficios-esq{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  /* Checar com o grupo se tem como fazer sem margem */
  .texto-beneficios{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #ffffff;
    max-width: 90%;
    height: fit-content;
    text-align: start;
    margin-top: 10%;
    margin-left: 10%;

    h1{
      font-size: 64px;
      width: 38rem;
    }

    h2{
      font-size: 32px;
      width: 38rem;
    }

    p{
    width: 38rem;
    font-size: 24px;
    color: #ffffff;
    }
  }

}

.beneficios-dir{
  width: 50vw;
  height: 100vh;
  overflow: hidden;


  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 30% 99%, 0 49%, 30% 0);
  }
}

.contato{
  height: 100vh;
  background-color: var(--brancoBackground);
}

.footer{
  height: 55vh;
  background-color: var(--azulBackground);
}





