:root {
  --azulEscuro: #011526;
  --amareloPrincipal: #f2c029;
  --azulEscuroTexto: #011526;
  --amareloDischarge: #F2AE2E;
  --brancoBackground: #F2F2F2;
  --branco: #FFFFFF;
  --azulBackground: #011526;
  --cinza: #D9D9D9;
}

/* Configurações globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  width: 100%; 
}

.container {
  width: 1300px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: var(--azulEscuro);
  justify-content: space-between;
  overflow: hidden;

  a {
    text-decoration: none;
  }
}

.atom {
  height: auto;
  padding: 2rem;
  transition: all 0.5s ease-in;
}

.atom:hover {
  transform: scale(1.05);
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav__links ul {
  list-style-type: none;
  display: flex;
  gap: 8rem;
  padding: 1.5rem;
  cursor: pointer;
}

.nav__links ul li {
  color: var(--amareloPrincipal);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: none;
  transition: all 0.5s;
}

.nav__links ul li:hover {
  color: var(--amareloDischarge);
  transform: scale(1.05);
}

.background-btn-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--amareloPrincipal);
  height: 100%;
  padding: 0.5rem;
  transition: all 0.5s;
}

.background-btn-cadastro:hover {
  background-color: var(--amareloDischarge);
  transform: scale(1.05);
}

.background-btn-cadastro:hover .btn-cadastro{
  color: var(--branco);
}

.btn-cadastro {
  font-family: "poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: var(--azulEscuroTexto);
  transition: all 0.5s;
}

/* Banner */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url("../../assets/banner-background.jpg");
  background-size: cover;
  color: var(--azulEscuroTexto);

  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 32px;
  }
}

/* Sobre Nós */

.nosso-negocio {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--brancoBackground);
}

.box-negocio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.negocio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-negocio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  object-fit: cover;
}

.texto-negocio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  gap: 1rem;
  text-align: center;
}

.texto-negocio h1 {
  color: var(--azulEscuroTexto);
  font-size: 55px;
}

.texto-negocio p {
  font-size: 20px;
  text-align: justify;

  .discharge {
    color: var(--amareloDischarge);
    font-weight: bold;
  }
}

.cards-negocio {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.cards-negocio .card {
  display: flex;
  background-color: #ffffff;
  width: 40%;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  border-radius: 5%;
  padding: 1rem;

  p {
    font-size: 20px;
  }

  h1 {
    color: var(--azulEscuroTexto);
    font-size: 30px;
  }

  h2 {
    color: var(--azulEscuroTexto);

  }

}

/* Beneficios */

.beneficios {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--azulEscuro);
  position: relative;
}

.beneficios::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%; /* Ajusta a posição inicial do fundo */
  background-image: url('../../assets/metalurgica.png'); /* Caminho para a sua imagem */
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 30% 100%, 0 50%, 30% 0);
  z-index: 1;
}

.box-beneficios {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.beneficios-esq {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;

  /* Checar com o grupo se tem como fazer sem margem */
  .texto-beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: #ffffff;
    text-align: start;

    h2 {
      font-size: 64px;
      width: 100%;
    }

    h3 {
      font-size: 32px;
      width: 100%;
    }

    p {
      width: 100%;
      font-size: 24px;
      color: #ffffff;
    }
  }

}

/* Contate-nos */

.contato {
  height: 100vh;
  background-color: var(--brancoBackground);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-contato {
  display: flex;
  height: 80vh;
  width: 100%;
  background-color: var(--branco);
  padding: 2rem;
  border-radius: 10px;
}

.image-form {
  width: 50%;
  background-image: url(../../assets/contato.png);
  background-repeat: no-repeat;
  background-position: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  width: 50%;

  h2 {
    color: var(--azulEscuroTexto);
    font-size: 48px;
    font-weight: 800;
  }

  label {
    width: 100%;
  }

  .div__input__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }

}

input {

}

.formulario__input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cinza);
  border-radius: 10px;
  padding: 2rem;
  border: none;
  outline: none;
  transition: all 0.5s;
}

.formulario__input:hover {
  outline: 1px solid var(--azulEscuroTexto);
}

.formulario__input::placeholder {
  font-size: 20px;
  font-family: "poppins", sans-serif;
}

.formulario__button {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: var(--amareloDischarge);
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--branco);
  transition: all 0.5s;
  cursor: pointer;
}

.formulario__button:hover {
  background-color: var(--amareloPrincipal);
}

/* Footer */

.footer {
  height: 40vh;
  background-color: var(--azulBackground);
  display: flex;
  justify-content: space-between;
  padding: 5%;

  .discharge {
    color: var(--amareloDischarge);
    font-size: 36px;
  }

  ul {
    text-decoration: none;
    list-style: none;
    color: var(--branco);
  }

  /*Checar também se é possível fazer sem margem ou se é necessário */
  h2 {
    display: flex;
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 1.2rem;
  }

  p {
    font-size: 24px;
    color: #ffffff;
  }

  .topicos {
    display: flex;
    flex-direction: column;
  }

}

.separacao-footer {
  width: 100%;
  height: 0.5vh;
  background-color: #ffffff;
}

.copyright {
  height: 15vh;
  background-color: var(--azulBackground);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
  }
}